/*logo*/ 
.header__container {
	border-bottom: 1px solid var(--color-gris-6);
}

.header__navbar {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 0.7rem 1rem;
}

.header__menu-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	
}

.header__menu-btn i {
	color: var(--color-main);
	font-size: 2.7rem;
}

/*oculta el icono*/
.header__menu-icon--close {
    display: none;
}
 /*Muestra el icono correcto segun el estado del popover*/
#myMenu:popover-open + .header__menu-btn .header__menu-icon--open {
    display: none;
}

#myMenu:popover-open + .header__menu-btn .header__menu-icon--close {
    display: inline-block;
}

/*menu*/

.header__menu[popover] {
	background-color: #f9f9f9;
	border: none;
	margin: 0;
	top: 7rem;
	width: 100%;
}

.header__menu a {
	display: block;
	padding: 1.4rem 1.7rem;
}

.header__menu a:hover{
	color: var(--color-main);
}
